
/* Bootstrap Carousel fixes 
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
}*/
.ml-1 {
margin-left: 2px;
}
.ml-2 {
    margin-left: 4px;
}
.ml-4 {
    margin-left: 8px;
}
.mr-2 {
    margin-right: 4px;
}
.mr-4 {
    margin-right: 8px;
}
.sr-only {
display:none;
}
/* Bootstrap Carousel fixes End*/

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

    .close:hover {
        color: #000;
        text-decoration: none;
    }

    .close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
        opacity: .75;
    }

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
}



/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}
.bottom {
    position: absolute;
    bottom: 0;
}
.width-80 {
    width: 80%;
}
.width-50 {
    width: 50%;
}
.speedUpButton {
    height: 23px;
    font-size: 10px;
}
/* reactstrap fixes */
/* Toaster */
.error-toaster {
    position: absolute;
    background-color: white;
    right: 10%;
    z-index: 5000;
}
.mr-auto {
    width: 100%;
}
/* End Toaster */

/* reactstrap fix end */


/* bootstrap fixes */
.hidden {
 display: none;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
.float-right {
    float: right !important;
}
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/*end bootstrap*/





/* Progress bar*/
.buildingWhat {
    position: absolute;
    z-index: 10;
    color: white;
    font-size: 21px;
    margin-left: 12px;
}

.upgradeTimer {
    position: absolute;
    color: white;
    font-size: 21px;
    right: 0px;
}

#buildingProgress {
    width: 300px;
    background-color: black;
    display: inline-block;
    height: 30px;
}

#buildingTime {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 327px;
    background-color: black;
    height: 30px;
}

.speedUpBtn {
    position: absolute;
    left: 327px;
    height: 30px;
}

#buildingBar {
    position: absolute;
    border-radius: 14px;
    width: 100%;
    height: 30px;
    display: inline-block;
    background-color: green; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom, green, lightgreen);
    text-align: center;
    line-height: 30px;
    color: white;
}
/* Progress bar end */

